@import url('basic.css');

/* 變量設置 */
$bk1: #1d1d1d;
$bk2: #333;
$gr1: #e9e9e9;
$gr2: #7a7a7a;
$main: #baf13a;
$main2: #98d900;
$side: #a839ff;
$side2: #a839ff;

.container-f {
  .wrap {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 50px;
    display: flex;

    // 燈箱效果
    .product-images {
      width: 50%;
      text-align: center;

      // 大照片
      .product-images-big {
        width: 100%;
        height: 500px;
        position: relative;

        img {
          border: 1px solid $main;
          width: 75%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
        }

        // 我的最愛愛心標籤
        .fa-regular {
          position: absolute;
          bottom: 6%;
          right: 18%;
          color: #fff;
          font-size: 1.2rem;
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 10px;
          transition: 1s;

          &.selected {
            background-color: crimson;
            color: #fff;
            padding: 10px;
          }

          &:hover {
            background-color: crimson;
            color: #fff;
          }
        }
      }

      // 燈箱小照片
      .product-image-small {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin-top: 20px;

        img {
          border: 1px solid $main;
          border-radius: 5px;
          width: 4rem;
          height: 8vh;
          object-fit: cover;
        }
      }
    }

    // 右邊商品內容價格
    .product-info {
      width: 50%;
      padding-top: 25px;
      padding-right: 40px;
      padding-left: 30px;
      border: 1px solid $main;
      border-radius: 20px;

      h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      // 文字下方標籤
      .labels {
        gap: 10px;
        display: flex;
        align-items: center;
        color: black;
        font-size: 0.9rem;
        margin-bottom: 60px;
        margin-top: 20px;

        span {
          display: flex;
          align-items: center;
          padding: 1px 20px;
          border: 1px solid black;
          border-radius: 20px;
          margin: 0;

          &.normal {
            padding-top: 8px;
            background-color: #fff;
          }
          // 優惠橙色
          &.sale {
            padding-top: 8px;
            background-color: #ff5722;
          }
          // 新品黃色
          &.new {
            padding-top: 8px;
            background-color: #ffc107;
          }
        }
      }

      // 價錢評論容器
      .price-rating {
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
      }
      .price {
        font-size: 2rem;
      }
      .rating {
        i {
          padding-right: 5px;
          color: #ffc107;
        }
      }

      // 信息介紹特性欄位
      .details {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0px 0px;
        width: 100%;
        border-radius: 10px;
        background-color: #fff;

        .details-item {
          padding-left: 20px;
          padding-top: 20px;
          display: flex;
          i {
            font-size: 1.6rem;
            color: $gr2;
          }
          .details-text {
            padding-left: 15px;
            span {
              color: $gr2;
            }
            p {
              padding-top: 3px;
              color: #1d1d1d;
              margin: 0px;
              padding-bottom: 5px;
            }
          }
        }
      }

      // 尺寸選擇
      .size {
        margin-bottom: 60px;
        h3 {
          padding-bottom: 10px;
        }
        .size-option {
          text-align: center;
          background-color: $gr1;
          padding: 9px;
          margin-right: 20px;
          border-radius: 5px;
          color: $bk1;
          font-size: 0.9rem;
          border: none;
          cursor: pointer;
        }
        .size-option:hover {
          background-color: $main;
          color: $bk1;
        }
        // 增加選項顏色
        .selected {
          background-color: $main;
          color: $bk1;
        }
        .quantity .add-minus input {
          pointer-events: none;
        }
      }

      // 數量及加入購物車
      .quantity {
        border-top: 1px solid $main;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $main;
        display: flex;
        justify-content: space-between;
      }

      // 加減區域
      .add-minus {
        display: flex;
        justify-content: center;
        border: 1px solid #fff;
        padding: 7px 30px;
        border-radius: 15px;
        gap: 5px;

        button {
          background-color: #fff;
          padding: 15px;
          color: $bk1;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: $main;
            color: $bk1;
          }
        }

        input {
          width: 30px;
          padding-left: 20px;
          text-align: center;
        }
      }

      // 購物車
      .add-to-cart {
        background-color: #98d900;
        color: #fff;
        border-radius: 50px;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0px 50px;
        text-align: center;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: $main;
        }
      }

      .order-info {
        ul {
          padding-bottom: 20px;
          margin-bottom: 70px;
          border-bottom: 1px solid $main;
          padding-left: 0px;
          li {
            list-style-type: none;
            padding-top: 20px;
            display: flex;
            align-items: center;
          }
          i {
            color: $main;
            margin-right: 10px;
          }
        }
      }
    }
  }

  // 下方 更多選擇項目
  .recommendations {
    border-top: 1px solid $main;
    padding-top: 50px;
    margin-top: 100px;

    h2 {
      text-align: center;
      font-size: 2rem;
    }

    // 商品容器
    .product-item-container {
      display: flex;
      flex-wrap: wrap;
      // 商品卡片
      .product-item {
        cursor: pointer;
        width: 21%;
        height: auto;
        margin: 2%;
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        box-shadow: 2px 5px 5px 3px rgba(0, 0, 0, 0.1);

        .product-img {
          position: relative;
          width: 100%;
          height: 200px;
          img {
            height: 200px;
            object-fit: cover;
          }
        }
        // 我的最愛愛心標籤
        .fa-regular {
          position: absolute;
          bottom: 5%;
          right: 7%;
          color: #fff;
          font-size: 0.9rem;
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 5px;
          transition: 1s;

          &.selected {
            background-color: crimson;
            color: #fff;
            padding: 5px;
          }

          &:hover {
            background-color: crimson;
            color: #fff;
          }
        }

        // 卡片標籤調整
        .labels {
          padding-top: 10px;
          padding-left: 10px;
          gap: 10px;
          display: flex;
          align-items: center;
          color: black;
          font-size: 0.6rem;

          span {
            text-align: center;
            padding: 1.5px 15px;
            border: 1px solid black;
            border-radius: 10px;

            &.new {
              padding-top: 3px;
              background-color: #ffc107;
            }
          }
        }
        // 卡片文字
        .product-info {
          color: $bk1;
          padding-left: 15px;
          padding-bottom: 0px;

          // 卡片最下面價錢跟加入購物車調整
          .product-text {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 15px;
            padding-top: 5px;

            p {
              color: $bk1;
              font-size: 1.1rem;
              font-weight: bold;
            }
            .add-to-cart {
              background-color: #98d900;
              color: #333;
              border-radius: 20px;
              font-size: 11px;
              font-weight: bold;
              padding: 10px 20px;
              text-align: center;
              border: none;
              cursor: pointer;

              &:hover {
                background-color: #baf13a;
                color: #1d1d1d;
              }
            }
          }
        }
      }
    }
  }
  // 購物車加入提醒
  .cart-notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: $main2;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
  }
}
