.wrap {
  background-color: #1d1d1d;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

/* 導覽列內容 */
/*------ container容器調整間距------ */
.container {
  padding: 5rem 10rem;
}

/*------- 上方內容 ------ */
.top h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 2px solid #baf13a;
  letter-spacing: 5px;
}

/*------ 上方細項欄 ------ */
.table-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 40px;
  color: white;
  border: 2px solid #baf13a;
  border-radius: 15px;
  font-size: 1.3rem;
}

/* 調整商品右方細項間距 */
.table-bar h4 {
  text-align: center;
}
/* 商品文字推右方文字 */
.product {
  padding-right: 20rem;
}
/*------ cart-container 商品列表 ------*/
.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-item {
  background-color: #333333;
  border: 2px solid #baf13a;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding: 10px 0px;
}

.cart-item-content h4 {
  font-size: 1.5rem;
  line-height: 3rem;
}

.cart-item-small {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 220px;
  gap: 5rem;
  justify-content: space-evenly;
}

.cart-item img {
  margin-right: 20px;
}

/* ------固定下方------ */
.checkButton {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 75%;
  background-color: #88a83c;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.rightCheckButton {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightCheckButton a {
  text-decoration: none;
  color: white;
  background-color: #97c629;
  padding: 10px 30px;
  border-radius: 10px;
}

.rightCheckButton a:hover {
  background-color: white;
  color: #97c629;
  transition: 1s;
}
