.container {
  // 左邊內容物
  .content-left {
    width: 60%;
    margin-top: 5rem;

    // 商品確認步驟
    .order-steps {
      border-bottom: 2px solid var(--main);
      padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;

      a {
        color: white;
        padding-right: 2rem;
        font-size: 1.6rem;
      }

      .fa-solid {
        font-size: 25px;
      }
    }

    .order-info {
      line-height: 30px;

      h3 {
        font-size: 20px;
      }
    }

    // 顧客資訊
    .customer-info {
      margin-top: 10px;

      label {
        margin-top: 200px;
      }

      input {
        color: #fff;
        width: 100%;
        border: 2px solid var(--main);
        background-color: var(--bk2);
        border-radius: 10px;
        padding: 5px;
        margin: 10px 0px;
      }

      #order-note {
        padding-bottom: 9rem;
      }
    }
  }

  // 右邊內容物
  .content-right {
    width: 28%;
    border: 1px solid var(--main);
    border-radius: 10px;
    position: fixed;
    padding: 0px 40px;
    top: 10%;
    right: 4%;
    background-color: var(--bk2);

    .payment-method {
      margin-top: 40px;

      h2 {
        font-size: 2rem;
      }
    }

    .form-group {
      padding-top: 1rem;
      margin-top: 5px;
    }

    // 製作下拉式選單
    .dropdown {
      position: relative;
      display: inline-block;
      width: 100%;

      input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--bk2);
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        width: 100%;

        div {
          padding: 10px;
          cursor: pointer;

          &:hover {
            background-color: var(--bk1);
          }
        }
      }

      &.active .dropdown-content {
        display: block;
      }
    }

    // 文字框框
    .text-border {
      color: #fff;
      border: 2px solid #fff;
      width: 96%;
      border-radius: 5px;
      margin: 0px;
      margin-top: 2px;
      padding: 5px;
    }

    .invoice-promo-code {
      width: 98%;
      display: flex;
      gap: 30px;
      margin-bottom: 2rem;
    }

    .total-amount {
      border-top: 2px solid #fff;
      padding-top: 20px;

      p {
        line-height: 30px;

        span {
          float: right;
        }
      }
    }

    // 送出按鈕
    .submit {
      border: 1px solid #fff;
      border-radius: 4px;
      margin-top: 20px;
      margin-bottom: 20px;

      a {
        color: #fff;
        text-align: center;
        padding: 20px;
        display: block;

        &:hover {
          background-color: #fff;
          color: var(--main2);
          font-weight: bold;
          transition: 2s;
        }
      }

      i {
        padding-bottom: 5px;
        margin: 0px;
        display: block;
      }
    }
  }
}
