// 左邊內容物
.content-left {
  width: 60%;
  margin-top: 5rem;

  // 商品確認步驟
  .order-steps {
    border-bottom: 2px solid var(--main);
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    a {
      color: white;
      padding-right: 2rem;
      font-size: 1.6rem;
    }
    margin-bottom: 3rem;
    // 調整icon
    .fa-solid {
      font-size: 25px;
    }
  }

  .order-info {
    line-height: 30px;
    h3 {
      font-size: 20px;
    }
  }
  // 商品項目
  .cart-items {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding-left: 10px;
    padding: 20px 10px;
    border: 2px solid var(--main);
    background-color: var(--bk2);
    border-radius: 10px;
    gap: 1rem;

    img {
      width: 15%;
    }
    // 商品項目的商品名稱內容等等
    .cart-item-content {
      text-align: left;
      padding-left: 10px;
      padding-right: 6rem;

      line-height: 25px;
      h4 {
        font-size: 1.2rem;
      }
      h5 {
        font-size: 1rem;
      }
    }

    // 加減符號數量並排
    .quantity-plus-minus {
      display: flex;
      margin-right: 7rem;
      align-items: center;
      gap: 10px;
    }

    .quantity {
      font-size: 1.3rem;
    }

    i:hover {
      color: var(--main);
      transition: 1s;
    }

    .fa-solid {
      color: #fff;
      font-size: 1.2rem;
    }

    .total {
      font-size: 1.3rem;
    }
  }
}

// 右方容器
.content-right {
  width: 28%;
  border: 1px solid var(--main);
  border-radius: 10px;
  position: fixed;
  padding: 0px 40px;
  top: 10%;
  right: 4%;
  background-color: var(--bk2);
  // max-height: 80vh;
  // overflow-y: auto;

  .payment-method {
    margin-top: 40px;
    h2 {
      font-size: 2rem;
    }
  }

  .form-group {
    padding-top: 1rem;
    margin-top: 5px;
  }

  // 隱藏下拉
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;

    input {
      width: 100%;
      padding: 3px;
      box-sizing: border-box;
      cursor: pointer;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: var(--bk2);
      z-index: 1;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      width: 100%;

      div {
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: var(--bk1);
        }
      }
    }
  }

  .dropdown.active .dropdown-content {
    display: block;
  }

  .text-border {
    border: 2px solid #fff;
    width: 96%;
    border-radius: 5px;
    margin: 0px;
    margin-top: 2px;
    padding: 5px;
  }
  .invoice-promo-code {
    width: 98%;
    display: flex;
    gap: 30px;
    margin-bottom: 2rem;
  }

  // 總金額項目
  .total-amount {
    border-top: 2px solid #fff;
    padding-top: 20px;

    // 金額數字浮到最後方
    p {
      line-height: 30px;
      span {
        float: right;
      }
    }
  }

  .submit {
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
      color: #fff;
      text-align: center;
      padding: 20px;
      display: block;
    }
    a:hover {
      background-color: #fff;
      color: var(--main2);
      font-weight: bold;
      transition: 2s;
    }
    i {
      padding-bottom: 5px;
      margin: 0px;
      display: block;
    }
  }
}
