@import url(basic.css);

/* ------ 全局容器設置 ------ */
.container-f {
  margin: 0 auto;
  width: 100%;
}

.container {
  padding: 5rem 10rem;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem;
  }
}

/*------ 頂部樣式 ------ */
.top {
  margin-top: 5rem;
}

.top h3 {
  color: var(--gr1);
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--main);
}

/* ------表格樣式 ------ */
/* 上面文字外框 */
.cart-border {
  margin-top: 20px;
  border: 2px solid var(--main);
  border-radius: 20px;
  padding-bottom: 10px;
  text-align: center;
}

/* 調整整個table */
.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-table th {
  padding-left: 2rem;
}

/* 商品文字去推右方位置 */
.cart-table th:nth-of-type(1) {
  width: 40%;
  padding-right: 20rem;
}

/* 商品內容外框 */
.cart-border-inner {
  padding: 10px;
  margin-top: 20px;
  border: 2px solid var(--main);
  border-radius: 20px;
  background-color: var(--bk2);
}

.cart-table tbody {
  font-size: 1.2rem;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item img {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

.cart-item-content {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15rem;
  line-height: 30px;
}
/* 購物車裡的詳細內心大小 */
.cart-item-content h5 {
  font-size: 1rem;
}

.price {
  margin-right: 2.3rem;
}

.cart-item td {
  padding: 10px 20px;
  text-align: left;
}

.quantity-plus-minus {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 4rem;
}
.total {
  margin-right: 6rem;
}

.quantity-plus-minus i {
  font-size: 1rem;
  color: var(--gr1);
}

.quantity-plus-minus i:hover {
  color: var(--main);
  transition: 1s;
}

.delete i {
  font-size: 1.3rem;
  color: var(--gr1);
}

.delete i:hover {
  color: var(--main);
  transition: 1s;
}

/*------ 固定底部樣式 ------- */
.checkButton {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 1200px;
  height: 70px;
  background-color: #88a83c;
  color: var(--gr1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.rightCheckButton {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightCheckButton a {
  text-decoration: none;
  color: var(--gr1);
  background-color: #97c629;
  padding: 10px 30px;
  border-radius: 10px;
}

.rightCheckButton a:hover {
  background-color: var(--gr1);
  color: #97c629;
  transition: 1s;
}

@media (max-width: 768px) {
  .checkButton {
    width: calc(100% - 40px);
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
  }

  .rightCheckButton {
    flex-direction: column;
    gap: 10px;
  }
}
