.swal2-title  {
    margin-top: 24px;
    font-size: 20px; /* 修改标题的字体大小 */
    font-weight: bold; /* 加粗标题 */
    letter-spacing: 1px;
    color: var(--main);
}
.swal2-html-container {
    font-size: 14px;
    line-height: 1.5; 
    letter-spacing: 1px;
}
.swal2-confirm {
    color: var(--bk2); /* 更改按钮文本颜色为红色 */
    font-weight: bold; /* 加粗标题 */
}