.w-bg {
  background-repeat: unset;
  background-size: 100%;
}

.maintitle {
  font-size: 80px;
  color: #BAF13A;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
}

.title {
  color: #98d900;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 20px;
  /* border: 1px solid white; */
  margin-top: 15vh;
  justify-content: center;
  text-align: center;
  font-size: 60px;

}

section {
  margin-top: 20vh;
}

.orgin {
  background-color: rgba(187, 182, 182, 60%);
  width: auto;
  height: auto;
  color: white;
  text-align: start;
  font-size: 30px;
  padding: 50px;
  margin: 20px;
  margin-top: 50px;
  /* text-indent: 50px; */
  line-height: 1.2;
}

.orgintitle {
  color: white;
  text-align: start;
  font-size: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  margin-bottom: 80px;
  margin-top: 5vh;
}

.orginText {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-size: 25px;
  font-weight: normal;


}

.content {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-size: 20px;
  font-weight: normal;
  padding: 10vh;
  line-height: 1.5;
}

button {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  color: black;
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  border: none;
  outline: none;
  float: right;
  width: 200px;
  height: 80px;
}



.pic1,
.pic2,
.pic3,
.pic4 {
  width: 500px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.pic1 {
  transform: rotate(-5deg);
  margin-left: 50px;
  z-index: 0;
}

.pic2 {
  transform: rotate(7deg);
  margin-left: 30vh;
  margin-top: -10vh;
  z-index: 1;
}

.pic3 {
  margin-left: 5vh;
  margin-top: -10vh;
  z-index: 0;
}

.pic4 {
  transform: rotate(-9deg);
  margin-left: 30vh;
  margin-top: -10vh;
  z-index: 1;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.img1 .img2 {
  margin-left: -100px;
}

.img3 {
  margin-left: -100px;
}

.img4 {
  margin-left: -280px;
  margin-right: 0px;
}

/* img{
    margin-left: -100px;
  } */


.m-auto {
  margin: auto;
}

.w-auto {
  width: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}