@media screen and  (min-width: 1440px){
    
    .nav-box {
        width:300px ;
    }

    .profile-box {
        max-width:900px ;
    }
    .order-box {
        max-width:900px ;
    }
   

}
@media screen and  (max-width: 768px){
    section{
        flex-direction: column ;
        flex-wrap: nowrap !important;
        align-items: center;
        justify-content: center;
        
    }
    .nav-box {
        width:375px ;
    }

    .profile-box {
        width: 375px;
    }
    .order-box {
        width: 375px;
    }
    

}

@media screen and  (max-width: 375px) {
    .nav-box {
        width:300px ;
    }

    .profile-box {
        width:300px ;
    }
    .order-box {
        width:300px ;
    }

    

}

