.accordion {
    /* width: 800px; */
    margin: 90px auto;
    color: #baf13a;
    padding: 45px 45px;
}

.accordion .container {
    position: relative;
    margin: 10px 10px;
}

.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 16px;
    color: #baf13a;
    cursor: pointer;
}

.accordion .label::before {
    content: '+';
    color: #baf13a;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}

.accordion .content {
    position: relative;
    height: 0;
    font-size: 16px;
    text-align: justify;
    /* width: 780px; */
    overflow: hidden;
    transition: 0.5s;
}

.accordion hr {
    width: 100;
    margin-left: 0;
    border: 0.5px solid #baf13a;
}

.accordion .container.active .content {
    height: 150px;
}

.accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
}