.eventName {
    display: flex;
}

.eventImg {
    border: 0.75px solid var(--main);
    border-radius: 10px;
    flex: 1;
}

.eventImg img {
    border-radius: 10px;
}

.eventTitle {
    flex: 1;
    padding-top: 3em;
    margin-left: 3em;
}

.eventTitle h1 {
    display: inline-block;
    white-space: nowrap;
}

/* 中間的線 */
.middleLine {
    border-bottom: 0.75px solid var(--main);
    margin: 1.8rem 0rem;
}

/* 選擇票種數量 */
.ticketChoose {
    border: 0.75px solid var(--main);
    border-radius: 10px;
    background-color: var(--bk2);
}

.ticketText {
    text-align: center;
}

.ticketText h3 {
    color: var(--bk1);
    background-color: var(--main);
    border-radius: 10px;
    padding: 1rem 0rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

.ticketMan,
.ticketSpec {
    /* 數量 */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: center;
}

.ticketNumber {
    display: flex;
}

.ticketNumber button {
    background: none;
    /* display: inline-flex; */
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    color: var(--gr1);

}

.ticketMiddle p {
    border-bottom: 0.75px solid var(--main);
    margin-left: 2rem;
    margin-right: 2rem;
}

.ticketSpec {
    margin-bottom: 1rem;
}

/* 下一步按鍵 */
.ticketBtn {
    margin-top: 4rem;
    text-align: right;
}

.ticketBtn a {
    border: 0.75px solid var(--main);
    border-radius: 10px;
    color: var(--bk1);
    background-color: var(--main);
    padding: 0.8rem 6rem;
    margin-right: 2rem;
    
}