.eventName {
    display: flex;
}

.eventImg {
    border: 0.75px solid var(--main);
    border-radius: 10px;
    flex: 1;
}

.eventImg img {
    border-radius: 10px;
}

.eventTitle {
    flex: 1;
    padding-top: 3em;
    margin-left: 3em;
}

.eventTitle h1 {
    display: inline-block;
    white-space: nowrap;
}

/* 中間的線 */
.middleLine {
    border-bottom: 0.75px solid var(--main);
    margin: 1.8rem 0rem;
}

/* 購買順序 */
.order {
    display: flex;
    margin-bottom: 1.8rem;
    justify-content: space-around;
}

.ticketOrder {
    display: flex;
}

.ticketOrder div:nth-child(1) {
    display: flex;
    border: 1px solid var(--main);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    color: var(--main);
    font-size: 20px;
}

.ticketOrder span {
    padding-bottom: 3px;
    font-size: 1.2rem;
}

.ticketOrder div:nth-child(2) {
    display: flex;
    color: var(--main);
    align-items: center;
}

.ticketOrder:nth-child(1) div:nth-child(1) {
    background-color: var(--main);
    color: black;
}

/* 選擇票種數量 */
.ticketChoose {
    border: 0.75px solid var(--main);
    border-radius: 10px;
    background-color: var(--bk2);
    font-size: 1.5rem;
}

.ticketText {
    text-align: center;
}

.ticketText h3 {
    color: var(--bk1);
    background-color: var(--main);
    border-radius: 10px;
    padding: 1rem 0rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

.ticketMan,
.ticketSpec {
    /* 數量 */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: center;
}

.ticketNumber {
    display: flex;
}

.ticketNumber button {
    background: none;
    /* display: inline-flex; */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: var(--gr1);
    font-size: 1.2rem;

}

.ticketNumber button:hover{
    color: var(--main);
}

.ticketMiddle p {
    border-bottom: 0.75px solid var(--main);
    margin-left: 2rem;
    margin-right: 2rem;
}

.ticketSpec {
    margin-bottom: 1rem;
}

/* 下一步按鍵 */
.ticketBtn {
    margin-top: 4rem;
    text-align: right;
    font-size: 1.5rem;
}

.ticketBtn a {
    border: 0.75px solid var(--main);
    border-radius: 10px;
    color: var(--bk1);
    background-color: var(--main);
    padding: 0.8rem 6rem;
    margin-right: 2rem;

}

.link-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* 可選：為禁用狀態添加視覺反饋 */
.link-disabled:hover {
    text-decoration: none;
    color: #999;
    /* 保持顏色不變 */
}